body {
  background: rgb(4,32,37);
  background: linear-gradient(126deg, rgba(4,32,37,1) 0%, rgba(4,9,50,1) 66%, rgba(2,0,22,1) 100%);

  /* initial cursor until the game starts */
  cursor: url(cursor-picker.png) 8 8, pointer;
}

body.red {
  cursor: url(cursor-red.png) 8 8, pointer;
}
body.green {
  cursor: url(cursor-green.png) 8 8, pointer;
}
body.blue {
  cursor: url(cursor-blue.png) 8 8, pointer;
}
body.brown {
  cursor: url(cursor-brown.png) 8 8, pointer;
}
body.gray {
  cursor: url(cursor-gray.png) 8 8, pointer;
}

body.loading {
  cursor: url(cursor-loading.png) 8 8, pointer;
}

#picker {
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: url(cursor-picker.png) 8 8, pointer;
  /* shows the next color - set by JS, starts on green */
  background-color: rgb(21, 152, 6);

  transition: top 0.7s, left 0.7s, background-color 0.1s;
}

#container {
  margin: auto;
  width: 400px;
  height: 200px;
  padding-top: 200px;
}

.cell {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: rgb(100, 100, 100);
}

.cell:hover {
  background-color: white;
}