body {
  background-color: rgb(43, 38, 38);
}

body.red {
  cursor: url(cursor-red.png) 8 8, pointer;
}
body.green {
  cursor: url(cursor-green.png) 8 8, pointer;
}
body.blue {
  cursor: url(cursor-blue.png) 8 8, pointer;
}
body.brown {
  cursor: url(cursor-brown.png) 8 8, pointer;
}
body.gray {
  cursor: url(cursor-gray.png) 8 8, pointer;
}

body.loading {
  cursor: wait;
}

#picker {
  position: absolute;
  left: 250px;
  top: 150px;
  width: 25px;
  height: 25px;
  cursor: url(cursor-picker.png) 8 8, pointer;
  /* shows the next color - set by JS, starts on blue */
  background-color: rgb(0, 0, 240);
}

#container {
  margin: auto;
  width: 400px;
  height: 200px;
  padding-top: 200px;
}

.cell {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: rgb(100, 100, 100);
}

.cell:hover {
  background-color: white;
}